@import url('./menu.css');
.arrow {
    text-align: center;
    margin-top: 4rem;
}

.header {
    height: 100vh;
    position: sticky;
    padding: 1rem;
    background-image: url('../images/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    position: fixed;
    margin: 0 1rem;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

@media screen and (min-width: 1280px) {
    .header {
        background-image: url('../images/desktop/image-header.jpg');
    }
    .header-content {
        display: flex;
        justify-content: space-between;
    }
    .arrow {
        margin-top: 6rem;
    }
}