.testimonials {
    text-align: center;
}

.testimonials-container {
    display: grid;
    gap: 3rem;
    margin-bottom: 4rem;
}

.testimonial-img {
    width: 60px;
    margin: 1.5rem 0;
    border-radius: 50%;
}

.testimonial-name {
    color: var(--VeryDarkDesaturatedBlue);
    margin: .5rem 0;
    text-transform: capitalize;
    font-weight: 900;
    font-family: 'Fraunces', serif;
}

.testimonial-ocupation {
    color: var(--GrayishBlue);
    font-size: .7rem;
}

.testimonial-text {
    color: var(--VeryDarkGrayishBlue);
    margin: 1rem 0;
    padding: 0 1rem;
    line-height: 1.8rem;
}

.testimonial-title {
    margin: 2rem 0;
    color: var(--GrayishBlue);
    text-transform: uppercase;
    font-size: 1.1rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    letter-spacing: 3px;
}

@media screen and (min-width: 1280px) {
    .testimonials {
        height: 100vh;
        padding: 5vh 0;
    }
    .testimonials-container {
        margin: 3rem auto;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        font-size: 1.2rem;
        gap: 5rem;
    }
    .testimonial-img {
        width: 100px;
    }
    .testimonial-info {
        margin: 2rem 0;
    }
    .testimonial-text {
        line-height: 2rem;
    }
    .testimonial-title {
        font-size: 1.6rem;
    }
}